
body {
    background-image: url(Bakgrundsbild.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/* Jag har valt färg samt fet stil för h1 */

h1 {
    color: black;
    font-weight: bold;
}

label {
    color: black;
    margin-top: 10px;
    display: block;
    font-weight: bold;
}
input {
    position:absolute;
    display:block;
    margin-bottom: 10rem;
}

button {
    margin-top: 18px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: rgb(218, 117, 208);
}

/* En submitknapp till formulär */

#submit {
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    color: white;
    background-color:rgb(46, 164, 79);
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    width: 80px;
    border-radius: 40px;
}