/* "CSS på body-elementet. Jag har använt bl. a. background-image, background-size samt background-position." */

body {
    background-image: url("Bakgrundsbild.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
} 

.container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-areas: 
    "header header header"
    "left main right"
    "footer footer footer";
}

/* "CSS på h1-element" */

.header {
    text-align: center;
    grid-area: header;
}

h1 {
    font-family: "Lobster";
    font-size: 45px;
    color: white;
    position: sticky;
}

p {
    color: white;
}

#p {
    color: white;
}

/* "CSS i classen text-container där jag har använt text-align, padding-top och border-radius m.m." */


.text-container {
    background-color: rgb(226, 153, 216);
    width: 210px;
    font-size: 13px;
    color: white;
    margin-top: 60px;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-top: 5px; 
    padding-left: 15px;
    padding-right: 5px;
    border-radius: 20px;
}

.left {
    grid-area: left;
    color: white;
}

.main {
    grid-area: main;
}

.main img {
    size: small;
    width: 120px;
    margin-left: 40px;
    border-radius: 55px;
}

.right {
    grid-area: right;
}
.right img {
    margin-top: 700px;
    margin-left: 100px;
    width: 350px;
}

a {
    text-decoration: none;
    color: black;
    width: 10px;
}

/* "CSS på button-elementet. Jag har lagt in bl. a. font-weight, background-color, margin-top samt cursor." */

button {
    font-weight: bold;
    font-size: 10px;
    border: none;
    border-radius: 68px;
    color: white;
    background-color: rgb(46, 164, 79);
    height: 20px;
    width: 135px;
    margin-top: 10px;
/*     margin-right: 270px;
 */    padding-top: 5px;
    padding-bottom: 15px;
    cursor: pointer;
}

div {
    text-align: center;
}

/* "CSS i classen container." */

.container p {
    color: black;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
}

.footer-container{
    grid-area: footer;
    text-align: center;
   
    color: black;
    line-height: 5px;
}

/* "CSS på media queries för att anpassa i iPad Air med max-width: 900px. Jag har testat och det blir responsivt" */
 
@media screen and (max-width: 900px) {

}

/* "CSS på media queries för att anpassa i mobil-version iPhone SE. Jag har ändrat i body, h1, text-container och img. Jag har testat och det blir responsivt" */

@media screen and (max-width: 400px) {
    body {
        background-size:
        background-position
    }

    h1 {
        font-size: 30px;
        margin-left: 20px;
    }

    .text-container {
        margin-left: 170px;
        margin-top: 170px;

    }

    .button {
        margin-left: 70vw;
        justify-self: right
    }

    .main img {
        margin-left: 120px;
    }

    .right img {
        margin-left: 1px;
        width: 200px;
    }
}